<%- include("layout/header") %>
    <main>
        <form action="/" method="post">
            <div class="input-container">
                <button class="btn-res">

                </button>
                <input type="text" placeholder="Search words here..." name = 'SeachingThisWord'>
            </div>
        </form>
        <div class="result-box">

        </div>
    </main>
    <%- include("layout/footer") %>